.text-ellipsis {
  overflow: hidden;
  display: block;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.page-sub-menu {
  margin-top: 10px;
  margin-bottom: 18px;
  width: 100%;
  max-width: 640px;
  display: inline-block;
  overflow: hidden;
}
.page-sub-menu:after {
  content: '';
  display: block;
  clear: both;
}
.page-sub-menu .a-item {
  height: 68.75px;
  width: 50%;
  background: #ffffff;
}
.page-sub-menu .a-item .b-detail {
  padding-left: 35.7421875px;
  height: 39.0625px;
  margin-top: 14.84375px;
}
.page-sub-menu .a-item .b-detail img {
  float: left;
  max-height: 100%;
  margin-right: 12px;
}
.page-sub-menu .a-item .b-detail .c-title {
  font-family: "Microsoft YaHei";
  font-size: 16px;
  font-weight: 400;
  color: #666666;
}
.page-sub-menu .a-item .b-detail .c-summary {
  font-family: "Microsoft YaHei";
  font-size: 12px;
  font-weight: 400;
  color: #868686;
}
.page-sub-menu .a-item:nth-child(2n-1) {
  float: left;
  margin-left: -1px;
}
.page-sub-menu .a-item:nth-child(2n) {
  float: right;
  margin-right: -1px;
}
.page-panel-one {
  margin-bottom: 10px;
  background: #ffffff;
}
.page-panel-one:after {
  content: '';
  display: block;
  clear: both;
}
.page-panel-one .a-header {
  height: 20px;
  padding: 16px  11.71875px;
  line-height: 20px;
  font-family: "Microsoft YaHei";
  font-size: 16px;
  font-weight: 400;
  color: #666666;
}
.page-panel-one .a-header .b-left-tag {
  height: 100%;
  width: 4px;
  background: #10a7b2;
  border-radius: 2px;
  float: left;
  margin-right: 15px;
}
.page-panel-one .a-detail:after {
  content: '';
  display: block;
  clear: both;
}
.page-panel-one .a-footer {
  height: 14.6484375px;
  line-height: 14.6484375px;
  padding: 11.81640625px 0;
  border-top: 1px solid #f3f3f3;
  text-align: center;
  font-family: "Microsoft YaHei";
  font-size: 14.6484375px;
  font-weight: 400;
  color: #999999;
}
.page-panel-one .a-footer .b-text {
  display: inline-block;
}
.page-panel-one .a-footer img {
  max-height: 100%;
}
.page-information .a-header .b-left-tag {
  background: #ac9d80;
}
.page-information .a-detail {
  padding: 0 11.71875px;
}
.page-information .a-detail .information-item {
  padding: 15.625px 0;
  height: 82.03136666666667px;
  border-top: 1px solid #eeeeee;
}
.page-information .a-detail .information-item:after {
  content: '';
  display: block;
  clear: both;
}
.page-information .a-detail .information-item .e-left {
  width: 82.03136666666667px;
  height: 82.03136666666667px;
  margin-right: 11.132828333333334px;
  float: left;
}
.page-information .a-detail .information-item .e-left img {
  float: left;
  width: 100%;
  height: 100%;
}
.page-information .a-detail .information-item .e-right {
  height: 100%;
  margin: 0;
}
.page-information .a-detail .information-item .e-right .f-title {
  font-family: "Microsoft YaHei";
  font-size: 14.6484375px;
  font-weight: 400;
  color: #666666;
  overflow: hidden;
  display: block;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.page-information .a-detail .information-item .e-right .f-detail {
  font-family: "Microsoft YaHei";
  font-size: 12px;
  font-weight: 400;
  color: #999999;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.page-information .a-footer {
  height: 30px;
}
.page-banner-one {
  margin-bottom: 10px;
  background: #ffffff;
}
.page-banner-one:after {
  content: '';
  display: block;
  clear: both;
}
.page-banner-one .a-detail {
  margin: 0;
  padding-bottom: 36px;
}
.page-banner-one .a-detail .b-item .c-img {
  text-align: center;
  position: relative;
}
.page-banner-one .a-detail .b-item .c-img img {
  display: inherit;
}
.page-banner-one .a-detail .b-item .c-img .d-block {
  font-family: "Microsoft YaHei";
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  line-height: 28px;
  overflow: hidden;
  display: block;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 10;
  bottom: 0;
  width: 100%;
  text-align: left;
}
.page-banner-one .a-detail .b-item .c-img .d-block span {
  margin-left: 11.71875px;
}
.page-banner-one .a-detail .b-item .c-detail {
  padding: 11px 11.71875px 0 11.71875px;
  background: #ffffff;
  font-family: "Microsoft YaHei";
  font-size: 13px;
  font-weight: 400;
  color: #7e7e7e;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.page-banner-one img {
  max-width: 100%;
}
.page-banner-one .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #bfbfbf;
  opacity: 1;
}
.page-banner-one .swiper-pagination .swiper-pagination-bullet-active {
  background: #13a6b0;
}
@media (max-width: 350px) {
  .page-panel-one .a-header {
    font-size: 15px !important;
    height: 18px !important;
    line-height: 18px !important;
    padding: 14px 11.71875px !important;
  }
  .page-panel-one .a-detail .b-item .c-detail .d-title {
    font-size: 14px !important;
    line-height: 14px !important;
    padding-top: 13px !important;
  }
  .page-panel-one .a-detail .b-item .c-detail .d-summary {
    font-size: 10px !important;
    line-height: 10px !important;
    padding-top: 5px !important;
    padding-bottom: 12px !important;
  }
}
