.text-ellipsis {
  overflow: hidden;
  display: block;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
body {
  background: #eeeeee;
}
.page-sub-menu {
  margin-top: 0;
  margin-bottom: 10px;
}
.page-price {
  margin: 0 0 10px 0;
  background: #ffffff;
}
.page-price:after {
  content: '';
  display: block;
  clear: both;
}
.page-price table {
  margin: 0;
  padding: 0;
  width: 100%;
  border-collapse: collapse;
  border: none;
}
.page-price table tr th {
  font-family: "Microsoft YaHei";
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  background: #ac9d80;
  text-align: center;
  border: 1px solid #bdb199;
  padding: 10px 0;
}
.page-price table tr td {
  font-family: "Microsoft YaHei";
  font-size: 11px;
  font-weight: 400;
  color: #7e7e7e;
  text-align: center;
  border: 1px solid #eeeeee;
  padding: 6px 0;
}
.page-price table tr td img {
  max-height: 25px;
}
