.text-ellipsis {
  overflow: hidden;
  display: block;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.page-price-product .a-item .b-consulting {
  height: 26px;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  padding: 0 10px;
  float: right;
  color: #666666;
}
.page-price-product .a-item .b-consulting img {
  max-height: 20px;
  float: left;
  margin-right: 5px;
  margin-top: 3px;
}
.page-post {
  padding: 0 11.71875px;
  background: #ffffff;
}
.page-post .a-item {
  border-bottom: 1px solid #eeeeee;
  padding: 6px 0;
}
.page-post .a-item span.post-title {
  color: #666666;
}
.page-post .a-item .post-time {
  float: right;
}
